.tbl-img {
    position: relative;
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #c1bdbd;
    border-radius: 10px;
}
.website-img {
    position: relative;
    width: 100%;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #c1bdbd;
    border-radius: 10px;
}
.tbl-img img,
.website-img img {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.table td {
    vertical-align: middle;
}
.icon {
    transition: all 0.3s linear;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.card-body.drop-images {
    padding: 3.25rem;
    border: 2px solid #ece7e7;
}

.card-body.drop-images:hover {
    border: 2px dashed #ff9b28 !important;
}

input.drag-files {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.cust-mod-close {
    position: absolute;
    right: 0;
    top: -9px;
    background: #ef0a0a;
    border-radius: 50%;
    padding: 1px 7px;
}

.cust-mod-close:hover {
    background: #d80d0d;
}

.image-source-link {
    color: #98c3d1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.btn-info,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: #d62809;
}

.btn-info:hover {
    background-color: #a01127;
    color: #ffffff;
}

.nav-link {
    color: #ffff !important;
}

.nav-link.active {
    color: #f2751d !important;
}

.sb-sidenav-menu a:hover {
    color: #f2751d !important;
}

.page-item.active .page-link {
    background-color: #d62809 !important;
}

.sb-topnav {
    background: rgb(26, 0, 42) !important;
}

.sb-sidenav-menu {
    background: rgb(26, 0, 42) !important;
}

.image-upload {
    position: relative;
    width: 230px;
    height: 230px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.2s;
}

/* .image_profile {
    position: relative;
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #6b6e71;
    transition: 0.2s;
    background: #fff;
    margin-bottom: 22px;
} */

.img {
    /* vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%; */
    width: 42px;
    height: 42px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
    margin-bottom: 5px;
}
