header {
    background-color: #0099ff;
}
.hero {
    background-image: url(../img/index/hero.svg);
    background-repeat: no-repeat;
}

.features {
    background-color: $light;

    & img {
        height: 6rem;
        width: 6rem;
    }
}

.faq .card {
    border: 0;
    background: transparent;
  }

  .faq .card .card-header {
    background-color: transparent;
    border: 0;
  }

  .wave-container {
    background: #EEE;
  }
  .wave-container > svg {
    display: block;
  }