.owl-carousel {
    display: block;
}
.owl-carousel .owl-stage-outer{
    z-index: 1;
}
.comp-logo {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 12px;
    left: 3rem;
}
.comp-logo-text {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 23px;
    left: 13rem;
}
.intro-logo {
    position: relative;
    width: 100%;
    height: 300px;
}
.gal-img {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #eee;
    border-radius: 10px;
    display: block;
    transition: .2s;
}
.gal-img:hover{
    -webkit-box-shadow: 0px 1px 10px 0px #151115;
    -moz-box-shadow: 0px 1px 10px 0px #151115;
    box-shadow: 0px 1px 10px 0px #151115;
}
.gal-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(214, 40, 9, 0.73);
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.home-gallery {
    position: relative;
    width: 100%;
    height: 360px;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 10px;
    display: block;
}
.single-image {
    position: relative;
    width: 100%;
    height: 33rem;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}
.gal-img img{
    max-width: 100%;
    transition: 0.3s;
    padding: 0 !important;
    border-radius: 0 !important;
    border: 0 !important;
}
.pswp__zoom-wrap{
    width: 100%;
    height: 300px;
    transform: translate3d(0, 19rem, 0px) scale(1) !important;
    transition: .2s;
}
.comp-logo img,
.comp-logo-text img,
.intro-logo img,
.gal-img img,
.pswp__zoom-wrap img,
.home-gallery img,
.single-image img,
.image-wrapper img{
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: inherit !important;
}
.mt-20{
    margin-top: 20px;
}
.mt-100{
    margin-top: 100px;
}
#playVideo .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 65rem;
}
#playVideo .modal-content{
    background-color: unset;
}
#playVideo .modal-body{
    padding: 0 25px;
}
#playVideo button.close {
    color: #353535;
    opacity: 1;
    font-size: 30px;
    position: absolute;
    right: 0px;
    z-index: 99999;
    top: 0px;
    background: #fff;
    padding: 0 7px;
    border-radius: 50%;
    transition: .2s;
}
#playVideo button.close:hover {
    color: #ffffff;
    background: #e20c0c;
}
.download-sections img {
    margin-top: 20px;
    transition: .2s;
}
.download-sections img:hover {
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
#logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}
#intro .carousel-indicators li {
    display: none;
}
#about .section-header p{
    padding-bottom: 10px;
}
#logo {
    margin-top: -10px;
    margin-left: 30px;
    transition: .2s;
}
.header-scrolled #logo, .fix-scrolled #logo{
    margin-top: 0;
}

/* Custom modal for viewing picture with comments and likes */
#viewImageModal {
    overflow-y: auto !important;
}
#viewImageModal .modal-lg {
    max-width: 75rem !important;
}
#viewImageModal .modal-content {
    display: block;
    padding: 0;
	margin: 0;
}
#viewImageModal .modal-body {
    padding: 0;
	height: 33rem;
}
.view-container-left {
    float: left;
    background: #000;
    width: 60%;
    height: 100%;
    overflow: hidden;
}
.view-container-right {
    width: 40%;
    position: relative;
    padding: 10px 15px;
    display: inline-block;
}
.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.post-wrapper-title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}
.post-wrapper-title a{
    color: #111 !important;
}
#viewImageModal .carousel, #viewImageModal .carousel-inner{
	height: 100%;
}
#viewImageModal .owl-nav {
    position: relative;
    z-index: 1;
}
#viewImageModal .owl-prev {
    position: absolute;
    left: 0;
    top: -18rem;
}
#viewImageModal .owl-next {
    position: absolute;
    right: 0;
    top: -18rem;
}
#viewImageModal .owl-prev:hover {
    opacity: 1;
}
#viewImageModal .owl-next:hover {
    opacity: 1;
}
#viewImageModal .owl-prev, #viewImageModal .owl-next {
    width: 30px;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    color: #f8f7f8;
    font-weight: bold;
    background-color: #252222;
    border-radius: 100px;
    font-size: 20px;
    margin: 0 10px;
    opacity: 0.3;
    transition: .2s;
}
button.view-img-close-btn {
    position: absolute;
    background: #ff0d18;
    border: 0;
    color: #fff;
    border-radius: 50%;
    padding: 0px 9px;
    font-size: 20px;
    right: -13px;
	top: -8px;
	z-index: 10;
}
#editComModal, #like_names {
    z-index: 1051;
}
.image-post-description {
    height: 23rem;
    overflow-y: auto;
    color: #333;
}
.image-post-description p{
    color: #333;
    padding-bottom: 10px;
}
/* Close custom modal for edit and likes */
