@media only screen and (max-width: 1023px){
    #logo {
        margin-left: 90px;
    }
    .gal-img {
        height: 200px;
    }
    #viewImageModal .modal-lg {
        max-width: 98% !important;
    }
}
@media only screen and (max-width: 900px){
    .comp-logo-text {
        height: 15px;
        top: 30px;
        left: 10rem;
    }
    #logo a.comp-name {
        font-size: 20px;
    }
    #logo {
        margin-top: -5px;
    }
}

@media only screen and (max-width: 830px){
    #viewImageModal .modal-body {
        height: 100%;
    }
    .view-container-left {
        float: none;
        width: 100%;
    }
    .view-container-right{
        width: 100%;
        display: block;
    }
    .image-post-description {
        height: auto;
    }
}

@media only screen and (max-width: 820px){
    #logo a.comp-name {
        display: none;
    }
    .intro-logo {
        height: 200px;
    }
    #intro h1 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 767px){
    .single-image {
        height: 25rem;
    }
    #viewImageModal .owl-prev, #viewImageModal .owl-next {
        top: -14rem;
    }
}

@media only screen and (max-width: 500px){
    .single-image {
        height: 18rem;
    }
    #viewImageModal .owl-prev, #viewImageModal .owl-next {
        top: -11rem;
    }
}
